

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: white;
    --retro-color: #AD6A78;
    --retro-background: #DEE392;
}

.container {
    background-color: #DEE392;
    padding-top: 72px;
    padding-bottom: 112px;

}

.content {
    width: 980px;
    margin: 20px auto;
}